body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
}

strong {
  font-weight: 600;
}

h1,
h2 {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 300;
  color: #555;
  line-height: 50px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #555;
  line-height: 30px;
}

img {
  max-width: 100%;
}

.medium-paragraph {
  font-size: 17px;
  line-height: 32px;
}

/***** General style, all sections *****/

.section-container {
  margin: 0 auto;
  padding-bottom: 80px;
}

.section-container-gray-bg {
  background: #f8f8f8;
}

.divider-1 span {
  border-color: #fff;
}

.section-description {
  margin-top: 60px;
  padding-bottom: 10px;
}

/***** Divider *****/

.divider-1 span {
  display: inline-block;
  width: 200px;
  border-bottom: 1px dashed #ccc;
}

/***** Organic Olive *****/

.organic-olive-box {
  margin-top: 100px;
}

.organic-olive-box-text {
  padding-right: 30px;
  text-align: left;
}

.organic-olive-box-text h2 {
  margin-top: 0;
}

.organic-olive-box-text .medium-paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
}

.organic-olive-box-text a:hover,
.organic-olive-box-text a:focus {
  border: 0;
}

.organic-olive-box-img img {
  border-radius: 4px;
}

/***** Frying Olive Oil *****/

.frying-oil-box {
  margin-top: 30px;
  text-align: left;
}

.frying-oil-box .frying-oil-box-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  font-size: 28px;
  color: #9f9123;
  line-height: 60px;
  text-align: center;
  border-radius: 22px;
}

.frying-oil-box h3 {
  margin-top: 0;
  padding: 0 0 10px 0;
  text-align: center;
}
.frying-oil-box p {
  text-align: center;
}
