body,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #888;
  line-height: 30px;
  text-align: center;
}
:root {
  --clr-primary: #EFE1B2;
  --clr-primary-dark:#DCC252;
  --clr-h-txt-dark:#546A3D;
  --clr-h-txt:#86A949;
  --clr-secondary:#B8C74A ;
  --clr-white-dark:#e7dede ;
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(34, 29, 29);
  --ff-primary: "Open Sans", sans-serif;
  --ff-secondary: "Roboto", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --radius-sm: 0.25rem;
  scroll-behavior: smooth;
  }
strong {
  font-weight: 600;
}

h1,
h2 {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  font-weight: 300;
  color: #555;
  line-height: 50px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #555;
  line-height: 30px;
}

img {
  max-width: 100%;
}

.medium-paragraph {
  font-size: 17px;
  line-height: 32px;
}

/***** General style, all sections *****/

.section-container {
  margin: 0 auto;
  padding-bottom: 80px;
}

.section-container-gray-bg {
  background: #f8f8f8;
}

.divider-1 span {
  border-color: #fff;
}

.section-description {
  margin-top: 60px;
  padding-bottom: 10px;
}

/***** Divider *****/

.divider-1 span {
  display: inline-block;
  width: 200px;
  border-bottom: 1px dashed #ccc;
}

/* header */
/* arrow */
/*.demoarrow {
  position: relative;
  width: 100%;
  height: 550px;
  display: inline-block;
  margin: 0;
  box-sizing: border-box;
  background: olive;
}*/
.demoarrow a {
  position: absolute;
  bottom: 0;
  left: 47%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: white;
  font: normal 400 15px/1;
  text-decoration: none;
  transition: opacity 0.2s;
}
.demoarrow a:hover {
  opacity: 0.5;
}

#arrowdown a {
  padding-top: 70px;
}
#arrowdown a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -12px;
  border-left: 5px solid #1abc9c;
  border-bottom: 5px solid #1abc9c;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
/* end of arrow down */

/* end of arrow */
.all_bottom {
  position: absolute;
  top: 740px;
}

.slide {
  height: 85vh;
  margin-top: 2rem;
}

.logo {
  top: 0;
  width: 10rem;
  margin-top: -0.785rem;
}

/*  */
.button_container {
  position: relative;
  /* top: 20%; */
  /* right: 2%; */
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 9999;
  transition: opacity 0.25s ease;
}

.button_container:hover {
  opacity: 0.7;
}

.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}

.button_container.active .middle {
  opacity: 0;
  background: #fff;
}

.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}

.button_container span {
  background: #1abc9c;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}

.button_container span:nth-of-type(2) {
  top: 11px;
}

.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #1abc9c;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 9997;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}

.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}

.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}

.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}

.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-family: "Varela Round", serif;
  font-weight: 400;
  text-align: center;
}

.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}

.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
}

.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/* video */

/*Komentirao jer preklapa frying oil
.container {
  position: relative;
  height: 550px;
  overflow: hidden;
}

/* podesavanje video  */

.video {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 2.5rem auto 0;
  object-fit: cover;
}

/* podesavanje za tekst*/

.video-title {
  position: absolute;
  left: 20rem;
  top: 20rem;
  font-size: 14rem;
  color: rgba(255, 255, 255, 0.19);
  z-index: 1000;
}
.video-fluid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

/* end video  */

/***** Organic Olive *****/

.organic-olive-box {
  margin-top: 100px;
}

.organic-olive-box-text {
  padding-right: 30px;
  text-align: left;
}

.organic-olive-box-text h2 {
  margin-top: 0;
}

.organic-olive-box-text .medium-paragraph {
  margin-top: 20px;
  margin-bottom: 20px;
}

.organic-olive-box-text a:hover,
.organic-olive-box-text a:focus {
  border: 0;
}

.organic-olive-box-img img {
  border-radius: 4px;
}

/***** Frying Olive Oil *****/

.frying-oil-box {
  margin-top: 30px;
  text-align: left;
}

.frying-oil-box .frying-oil-box-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  font-size: 28px;
  color: #9f9123;
  line-height: 60px;
  text-align: center;
  border-radius: 22px;
}

.frying-oil-box h3 {
  margin-top: 0;
  padding: 0 0 10px 0;
  text-align: center;
}
.frying-oil-box p {
  text-align: center;
}

/* skill cards */

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 1400px;
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgb(160, 158, 158);
}

.skill-container {
  width: 100%;
}

@media screen and (max-width: 771px) {
  .skills {
    display: none;
  }
}

@media screen and (min-width: 771px) {
  #carousel2 {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .skills-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    height: 1000px;
  }
  .skill-container {
    width: 50%;
  }
}

@media screen and (min-width: 1400px) {
  .skills-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 500px;
  }
}

.transition {
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

.card {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  height: 300px;
  left: 0;
  margin: auto;
  overflow: hidden;
  position: relative;
  right: 0;
  top: 0;
  width: 300px;
}

.card:hover {
  height: 450px;
  width: 300px;
}

.card:hover .cta-container {
  display: inline;
  margin-top: 380px;
}

.card:hover .card_circle {
  background-size: cover;
  border-radius: 0;
  margin-top: -130px;
}

.card:hover h2 {
  background: #3487f7;
  color: #fff;
  margin-top: 100px;
  padding: 5px;
}

.card:hover h2 small {
  color: #fff;
}

.card:hover p {
  margin-top: 300px;
}

.card_circle {
  background: url(../assets/img/pexels-polina-tankilevitch-4109910.jpg)
    no-repeat center bottom;
  background-color: #3487f7;
  background-size: cover;
  border-radius: 50%;
  height: 400px;
  margin-left: -75px;
  margin-top: -270px;
  position: absolute;
  width: 450px;
}

.card_circle2 {
  background: url(../assets/img/pexels-polina-tankilevitch-4109910.jpg)
    no-repeat center bottom;
  background-color: #3487f7;
  background-size: cover;
  border-radius: 50%;
  height: 400px;
  margin-left: -75px;
  width: 450px;
}

section article div div h2 {
  color: #3487f7;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 200;
  margin-top: 150px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 200;
}

section article div div p {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Raleway", sans-serif;
  font-size: 100%;
  font-weight: normal;
  margin-top: 200px;
  position: absolute;
  text-align: center;
  z-index: 200;
}

.cta-container {
  display: none;
  margin-top: 320px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 200;
}

.cta {
  -moz-border-radius: 2px;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -webkit-border-radius: 2px;
  -webkit-transition: 0.2s ease-out;
  background-clip: padding-box;
  border: 2px solid #3487f7;
  border-radius: 2px;
  color: #3487f7;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
  height: 36px;
  letter-spacing: 0.5px;
  line-height: 36px;
  margin-bottom: 15px;
  padding: 0 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s ease-out;
}

.cta:hover {
  background-color: yellow;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* end of skill cards */

/* Product-details (z2) */

.mySlides2 {
  /* display: none; */
  display: block;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

#imgSlide2 {
  width: 50%;
  /* vertical-align: middle; */
  height: 44rem;
  min-width: 19rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#mySlidesText2 {
  padding: 2rem;
  width: 60%;
  background-color: #dcc252;
  text-align: center;
  height: 40rem;
  overflow: hidden;
  margin: auto;
}

.heading-mySlidesText2 {
  letter-spacing: 0.5rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

/* Slideshow container */

.slideshow-container2 {
  max-width: 56rem;
  position: relative;
  margin: auto;
  background-color: aquamarine;
}

/* Next & Previous buttons */

.prev2,
.next2 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: wheat;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right*/

.next2 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a blackbackground color with a little transparency */

.prev2:hover,
.next2:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text2 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text */

.numbertext2 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */

.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active2,
.dot2:hover {
  background-color: #717171;
}

.clearfix::after,
.clearfix::before {
  content: "";
  clear: both;
  display: table;
}

.fade2 {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#divDots2 {
  width: 100%;
  text-align: center;
}

@-webkit-keyframes fade2 {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade2 {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev2,
  .next2,
  .text2 {
    font-size: 11px;
  }
}

@media screen and (max-width: 700px) {
  .mySlides2,
  #imgSlide2,
  #mySlidesText2 {
    flex-direction: column;
  }
}

/* End of Product details(z2) */

/* Product styles */

/* Product styles */

.divide-line {
  width: 100%;
  height: 1px;
  background-color: rgb(94, 126, 44);
  background-image: radial-gradient(
    circle,
    rgb(94, 136, 60),
    rgb(243, 248, 243)
  );
  margin: 5rem 0;
}
.product-section {
  display: flex;
  justify-content: space-between;
  /* background-color: greenyellow; */
  height: 70vh;
  width: 100%;
}

/* Product selection image and button style*/
.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: indianred; */
  height: 100%;
  width: 40%;
}

.butons {
  display: flex;
  align-items: center;

  /* background-color: lawngreen; */
  height: 100%;
  width: 5%;
}

.img-container {
  width: 90%;
  height: 90%;
}
.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3%;
  box-shadow: 5px 5px 10px rgb(65, 82, 47);
}

.product-prev-btn,
.product-next-btn {
  margin: 0 0.5rem;
  z-index: 9998;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

/* Product selection text description style */

.product-description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: khaki; */
  height: 100%;
  width: 40%;
  overflow: auto;
}
.product-title {
  padding-top: 5px;
  text-transform: uppercase;
  color: rgb(78, 104, 51);
  font-size: 2rem;
  margin: 1rem 0;
}

.product-text {
  /* background-color: lawngreen; */
  height: 90%;
  width: 90%;
  color: rgb(78, 104, 51);
  text-align: justify;
}

.product-txt {
  padding: 0 2rem;
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #5c768d;
}

.section-title p {
  margin-bottom: 0;
}

.contact-bg {
  background: #f5f8fd;
}

.contact .info-box {
  color: #444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  margin-bottom: 30px;
  width: 100%;
}

.contact .info-box i {
  font-size: 32px;
  color: #428bca;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #9eccf4;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #666;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input::focus,
.contact .php-email-form textarea::focus {
  background-color: #428bca;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #428bca;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #6aa3d5;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* footer */

.footer {
  display: -webkit-flex;
  display: -moz- flex;
  display: -ms- flex;
  display: flex;
  flex-flow: row wrap;
  padding: 45px;
  color: #fff;
  background: #262626;
}

.footer > * {
  flex: 1 100%;
}

.footer-left-img {
  margin-right: 1.25rem;
  margin-bottom: 2em;
}

.footer-left-img img {
  width: 20%;
  cursor: pointer;
}

.footer-bottom {
  text-align: center;
  color: #999;
  padding-top: 50px;
}

@media screen and (min-width: 600px) {
  .footer-left-img {
    flex: 1 0px;
  }
}

/* footer-end */
